IOT_Game/IOT_Game/Connected Services/GameServiceReference/GameService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IOT.Entities.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IOT.Entities.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRankViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RankViewModel" nillable="true" type="tns:RankViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRankViewModel" nillable="true" type="tns:ArrayOfRankViewModel" />
  <xs:complexType name="RankViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PrizeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrizeTotal" type="xs:int" />
      <xs:element minOccurs="0" name="RankingID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RankViewModel" nillable="true" type="tns:RankViewModel" />
</xs:schema>